@model InformsISG.Entities.Dtos.Acil_Eylem_PlaniDTO

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" enctype="multipart/form-data">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">ACİL EYLEM PLANI EKLEME</h3>
            <div class="card-toolbar">
                <input type="submit" class="btn btn-success btn-hover-rotate-end" value="KAYDET">&nbsp;
                <a href="@Url.Action("Index","Acil_Eylem_Plani")" class="btn btn-danger btn-hover-rotate-start">GERİ DÖN</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  
                    <label asp-for="Plan_Adi" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <input asp-for="Plan_Adi" class="form-control" />
                        <span asp-validation-for="Plan_Adi" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-5">
                        <div class="col-md-10">
                            <p>ACİL EYLEM PLANI DOSYASI EKLEYİN : </p>
                            <input type="file" name="Dosya" asp-for="Dosya" />
                            <span asp-validation-for="Dosya" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

