@model InformsISG.Entities.Dtos.Acil_Durum_EkipleriDTO
@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">ACİL DURUM EKİBİ DÜZENLEME</h3>
            <div class="card-toolbar">
                <input type="submit" class="btn btn-success btn-hover-rotate-end" value="DÜZENLE">&nbsp;
                <a href="@Url.Action("Index","Acil_Durum_Ekipleri")" class="btn btn-danger btn-hover-rotate-start">GERİ DÖN</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Ekip_Ad" class="control-label"></label>
                        <input asp-for="Ekip_Ad" class="form-control" />
                        <span asp-validation-for="Ekip_Ad" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
