@model InformsISG.Entities.Dtos.MsdsDTO

@{
    ViewData["Title"] = "KurulDosyaEkle";
    var id = ViewBag.MsdsId;
}

<form asp-action="Edit" >
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">MSDS DÜZENLEME</h3>

            <div class="card-toolbar">

                <input type="submit" class="btn btn-success btn-hover-rotate-end" value="KAYDET">&nbsp;
                <a href="@Url.Action("Index","Msds")" class="btn btn-danger btn-hover-rotate-start">GERİ DÖN</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <input asp-for="Id" type="hidden" class="form-control" aria-describedby="basic-addon1" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Urun_Ad" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-check-double"></i>
                        </span>
                        <input asp-for="Urun_Ad" class="form-control" />
                        <span asp-validation-for="Urun_Ad" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-5">
                        <label asp-for="Isveren_Id" class="control-label"></label>
                        <select asp-for="Isveren_Id" class="form-control" asp-items="ViewBag.Isveren_Id"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>

    <br /> <br /> <br />

</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
