@model InformsISG.Entities.Dtos.Msds_DosyaDTO

@{
    ViewData["Title"] = "MsdsDosyaEkle";
    var id = ViewBag.MsdsId;
    TempData["msdsId"] = TempData["msdsId"];
}


<form asp-action="MsdsDosyaEkle" asp-controller="Msds" enctype="multipart/form-data" method="post">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">MSDS DOSYA İŞLEMİ</h3>
                <div class="card-toolbar">
                    <input type="submit" class="btn btn-success btn-hover-rotate-end" value="KAYDET">&nbsp;
                    <a href="@Url.Action("Index","Msds")" class="btn btn-danger btn-hover-rotate-start">GERİ DÖN</a>
                </div>
            </div>
            <div>
                @await Component.InvokeAsync("MsdsSelectIndex", new { Id = id })
            </div>
            <div class="card-body">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group mb-5">
                        <div class="col-md-10">
                            <p>MSDS DOSYASI EKLEYİN : </p>
                            <input type="file"  asp-for="Dosya" name="file">
                            <span asp-validation-for="Dosya" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label asp-for="Aciklama" class="control-label"></label>
                            <input asp-for="Aciklama" class="form-control" />
                            <span asp-validation-for="Aciklama" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    <br /> <br /> <br />

</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
