@model InformsISG.Entities.Dtos.Ramak_KalaDTO

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Edit">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">RAMAK KALA</h3>
            <div class="card-toolbar">
                <input type="submit" class="btn btn-success btn-hover-rotate-end" value="KAYDET">&nbsp;
                <a href="@Url.Action("Index","Ramak_Kala")" class="btn btn-danger btn-hover-rotate-start">GERİ DÖN</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <input asp-for="Id" type="hidden" class="form-control" aria-describedby="basic-addon1" />
                <div class="col-md-12 mb-5">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <div class="col-md-6 mb-5">
                    <label asp-for="Ramak_Kala_No" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <input asp-for="Ramak_Kala_No" class="form-control" />
                        <span asp-validation-for="Ramak_Kala_No" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <label asp-for="Personel_Id" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-check-double"></i>
                        </span>
                        <select asp-for="Personel_Id" class="form-control" asp-items="ViewBag.Personel_Id" selected></select>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <label asp-for="Tarih" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <input asp-for="Tarih" class="form-control" />
                        <span asp-validation-for="Tarih" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <label asp-for="Saat" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <input asp-for="Saat" class="form-control" />
                        <span asp-validation-for="Saat" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <label asp-for="Gorev" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <input asp-for="Gorev" class="form-control" />
                        <span asp-validation-for="Gorev" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-5">
                    <label asp-for="Olay" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <input asp-for="Olay" class="form-control" />
                        <span asp-validation-for="Olay" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-5">
                    <label asp-for="Olay_Tam_Yer" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <input asp-for="Olay_Tam_Yer" class="form-control" />
                        <span asp-validation-for="Olay_Tam_Yer" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <label asp-for="Oneri" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <textarea rows="3" cols="40" asp-for="Oneri" class="form-control"></textarea>
                        <span asp-validation-for="Oneri" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <label asp-for="Is_Tanim" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <textarea rows="3" cols="40" asp-for="Is_Tanim" class="form-control"></textarea>
                        <span asp-validation-for="Is_Tanim" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <label asp-for="Amir_Gorus" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <textarea rows="3" cols="40" asp-for="Amir_Gorus" class="form-control"></textarea>
                        <span asp-validation-for="Amir_Gorus" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <label asp-for="Igu_Gorus" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <textarea rows="3" cols="40" asp-for="Igu_Gorus" class="form-control"></textarea>
                        <span asp-validation-for="Igu_Gorus" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <label asp-for="Igu_Gorus_Tarih" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <input asp-for="Igu_Gorus_Tarih" class="form-control" />
                        <span asp-validation-for="Igu_Gorus_Tarih" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <label asp-for="Termin_Sure" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <input asp-for="Termin_Sure" class="form-control" />
                        <span asp-validation-for="Termin_Sure" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <label asp-for="Tamamlandi_Tarih" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <input asp-for="Tamamlandi_Tarih" class="form-control" />
                        <span asp-validation-for="Tamamlandi_Tarih" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 mb-5">
                    <span class="form-check-label">
                        @Html.DisplayNameFor(model => model.Tamamlandi)
                    </span>
                    <label class="form-check form-switch form-check-custom form-check-solid">
                        <input class="form-check-input" type="checkbox" asp-for="Tamamlandi" />
                    </label>
                </div>
                <div class="col-md-6 mb-5">
                    <label asp-for="Isveren_Id" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-check-double"></i>
                        </span>
                        <select asp-for="Isveren_Id" class="form-control" asp-items="ViewBag.Isveren_Id" selected></select>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <label asp-for="Tali_Birim_Id" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-check-double"></i>
                        </span>
                        <select asp-for="Tali_Birim_Id" class="form-control" asp-items="ViewBag.Tali_Birim_Id " selected></select>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer">

    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

