@model InformsISG.Entities.Dtos.Kkd_TurDTO

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Edit">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">KKD TÜR DÜZENLE</h3>
            <div class="card-toolbar">
                <input type="submit" class="btn btn-success btn-hover-rotate-end" value="KAYDET">&nbsp;
                <a href="@Url.Action("Index","Kkd_Tur")" class="btn btn-danger btn-hover-rotate-start">GERİ DÖN</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <input asp-for="Id" type="hidden" class="form-control" aria-describedby="basic-addon1" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <div class="col-md-8 mb-5">
                    <label asp-for="Kkd_Tur_Ad" class="control-label"></label>
                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-align-justify"></i>
                        </span>
                        <input asp-for="Kkd_Tur_Ad" class="form-control" />
                        <span asp-validation-for="Kkd_Tur_Ad" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer">

    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

